/*HEADING style2=asia*/
h1{
    font-size: 50px;
      text-align: center;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
      padding-top: 0%;
     color: red;
  
  }


  /*TABLE*/
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  